@import "./color.scss";

/* 清除全部内外边距，可更改为具体标签 */
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;

}



/* 去掉标签默认的斜体 */
em,
i {
  font-style: normal;
}

/* 去掉li的小圆点 */
li,
ol,
ul {
  list-style: none;
}

/* 将img对齐模式改为中间对齐，取消底部空隙，border照顾老版本浏览器出现边框问题 */
img {
  border: 0;
  vertical-align: middle;
}

/* 将button上的鼠标样式改为小手 */
button {
  cursor: pointer;
}

/* 规定颜色，取消下线 */
a {
  color: #666;
  text-decoration: none;
}

.hide,
.none {
  display: none;
}

/* 清除浮动 */
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}

.clearfix {
  *zoom: 1;
}